:root {
	--color-primary-1: rgb(17, 17, 17);
	--color-primary-2: rgb(32, 32, 32);
	--color-primary-3: rgb(255, 255, 255);
	--color-primary-4: rgb(255, 0, 0);
	--color-primary-5: rgb(190, 0, 0);
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	color: var(--color-primary-3);
	background: var(--color-primary-2);
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
		"Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
		"Helvetica Neue", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
		monospace;
}
/* Navbar */
.nav-header {
	width: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	background-color: var(--color-primary-1);
	padding: 0.5rem;
}
.nav-header {
	font-size: 1.2rem;
}
.nav-buttons {
	width: 100px;
	display: flex;
	align-items: center;
	justify-content: flex-end;
	background: transparent;
	padding-top: 7px;
}
/* Cart Button */
.nav-cart-numbers {
	position: absolute;
	font-size: 0.8rem;
	background-color: rgb(179, 0, 0);
	padding: 1px 5px;
	border-radius: 20px;
	top: 0;
	right: 7%;
	/* display: none; */
}
.nav-cart {
	position: relative;
	color: var(--color-primary-3);
	font-size: 2.1rem;
	border: none;
	background: transparent;
	cursor: pointer;
	padding-top: 2px;
	padding-right: 17px;
}
/* Hamburger Button */
.nav-hamburger {
	color: var(--color-primary-3);
	font-size: 2.2rem;
	border: none;
	background: transparent;
	cursor: pointer;
	padding-top: 2px;
	display: none;
}
.nav-hamburger:hover {
	color: var(--color-primary-4);
}
.nav-cart:hover {
	color: var(--color-primary-4);
}
@media (orientation: portrait) {
	/* @media Nav buttons */
	.nav-buttons {
		justify-content: center;
	}
	.nav-hamburger {
		display: block;
	}
	/* @media Links */

	.links {
		color: var(--color-primary-3);
		text-decoration: none;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		height: 0;
		overflow: hidden;
		transition: all 0.1s linear;
		border: none;
	}
	.links a {
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		border-top: 1px solid var(--color-primary-5);
		background: var(--color-primary-1);
		margin: 10px;
	}
	.links a:last-child {
		border-bottom: 1px solid var(--color-primary-5);
	}
	.show-links {
		height: 10.6rem;
	}
}
/* Links */
.links {
	border-top: 1px solid var(--color-primary-5);
	border-bottom: 1px solid var(--color-primary-5);
	background: var(--color-primary-1);
	display: flex;
	align-items: center;
	justify-content: center;
}
.links a {
	color: var(--color-primary-3);
	text-decoration: none;
	margin: auto 17px;
	padding: 10px;
	text-transform: uppercase;
	font-weight: bolder;
}
/* Features & ArrowSlider */
.slider-container {
	position: relative;
	width: 100%;
	height: 700px;
}
.slide {
	width: 100%;
	height: 100%;
	position: absolute;
	opacity: 0;
	transition: opacity ease-in-out 0.4s;
}
.active-slide {
	opacity: 1;
}
.slide img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.btn-slide {
	color: var(--color-primary-5);
	font-size: 4rem;
	border-radius: 50%;
	background: var(--color-primary-1);
	border: 1px solid rgba(34, 34, 34, 0.287);
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}
.prev {
	top: 50%;
	left: 20px;
}
.next {
	top: 50%;
	right: 20px;
}
/* Category Buttons */
.store-base {
	position: fixed;
	background: var(--color-primary-1);
	width: 20%;
	height: 100%;
}
.store-base h2 {
	background: var(--color-primary-5);
	border: 1px solid var(--color-primary-5);
	border-bottom: none;
	text-align: center;
	padding: 20px 0px;
	text-transform: uppercase;
}
.filter-buttons button:last-child {
	display: none;
}
.filter-buttons button:nth-child(1) {
	border-top: 1px solid var(--color-primary-5);
}
.filter-buttons button {
	color: var(--color-primary-3);
	font-size: 1.1rem;
	width: 100%;
	height: 100%;
	padding: 10px;
	text-transform: uppercase;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	border: none;
	border: 1px solid var(--color-primary-5);
	border-top: none;
	border-radius: 0;
	cursor: pointer;
	background: var(--color-primary-1);
	transition: all 0.4s;
}
.icon-category {
	font-size: 2.5rem;
}
.filter-buttons button:not(:last-child):hover {
	color: var(--color-primary-3);
	background-color: var(--color-primary-2);
	border-right: 1px solid var(--color-primary-5);
	transition: all 0.4s;
	overflow: hidden;
	padding-left: 30px;
	right: 0;
}
.filter-active {
	color: var(--color-primary-4) !important;
	background-color: var(--color-primary-2) !important;
	transition: all 0.4s !important;
	overflow: hidden !important;
	padding-left: 30px !important;
	right: 0 !important;
}

.filter-button {
	color: var(--color-primary-3);
	position: absolute;
	display: none;
	font-size: 1.7rem;
	position: absolute;
	padding: 5px;
	margin-top: 10px;
	left: 2%;
	border: 2px solid var(--color-primary-3);
	border-radius: 10px;
	background: transparent;
	box-shadow: 0px 0px 17px #888;
}
.filter-button:hover {
	color: var(--color-primary-4);
}
.search-box {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 10px auto;
	background: var(--color-primary-3);
	width: 90%;
	height: 4%;
	border-radius: 10px;
	padding: 17px;
}
.search-box input {
	padding: 7px;
	position: absolute;
	top: 0;
	left: 0;
	margin: 2px 2px;
	width: 90%;
	height: 90%;
	font-size: 1rem;
	border: none;
	outline: none;
	background: transparent;
}
.search-box button {
	position: absolute;
	top: 0;
	right: 1.4%;
	bottom: 0;
	font-size: 1.1rem;
	font-weight: bolder;
	border: none;
	background: transparent;
}
.sort-buttons {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	text-transform: uppercase;
	width: 100%;
	background-color: var(--color-primary-1);
	margin: 10px auto;
}
.sort-buttons button {
	width: 90%;
	color: var(--color-primary-3);
	border: 2px solid var(--color-primary-3);
	font-weight: bolder;
	border-radius: 10px;
	background: none;
	text-transform: uppercase;
	padding: 8px 20px;
	cursor: pointer;
}
.sort-buttons button:hover {
	color: var(--color-primary-4);
	background: var(--color-primary-2);
	border-color: var(--color-primary-4);
}
.sort-buttons select {
	text-align: center;
	width: 90%;
	color: var(--color-primary-3);
	border: 2px solid var(--color-primary-3);
	font-weight: bolder;
	border-radius: 10px;
	background: none;
	text-transform: uppercase;
	padding: 7px 15px;
	margin: 7px auto;
	cursor: pointer;
}
.sort-buttons select option {
	color: #fff;
}
.sort-buttons select:hover {
	color: var(--color-primary-4);
	background: var(--color-primary-2);
	border-color: var(--color-primary-4);
}
.sort-buttons option {
	color: var(--color-primary-1);
	border: 2px solid var(--color-primary-1);
	font-weight: bolder;
	border-radius: 10px;
	background: none;
	text-transform: uppercase;
	padding: 7px 15px;
}
.store-content-base {
	background-color: red;
	margin-left: 20%;
	width: 80%;
	height: 85%;
	position: fixed;
	background: var(--color-primary-2);
	overflow: auto;
}
.store-content-base ul li img {
	width: 100%;
	height: 270px;
	margin: 0;
}
.store-content-base a {
	color: var(--color-primary-3);
	text-decoration: none;
}
.store-content-base ul li {
	text-align: center;
	list-style-type: none;
	background: var(--color-primary-1);
	margin: 10px auto;
	width: 220px;
	height: 400px;
	border-radius: 7px;
	box-shadow: 0px 0px 17px var(--color-primary-1);
	cursor: pointer;
	overflow: auto;
}
.store-content-base ul li:hover {
	box-shadow: 0px 0px 20px var(--color-primary-4);
}
.store-content-base ul li h4 {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	padding: 10px;
}
.store-content-base ul li h5 {
	color: var(--color-primary-5);
	font-size: 1.5rem;
	padding: 2px;
}
.store-content-base ul {
	display: grid;
	grid-template-columns: repeat(auto-fit, 20rem);
	justify-content: center;
}
.product-details {
	display: flex;
	flex-direction: column;
}
.rating-star h6 {
	font-size: 1rem;
}
.rating-star h6:first-child {
	color: yellow;
}
.emptyDisplay {
	font-size: 1rem;
	margin-top: 70px;
}
.loadingScreen {
	text-align: center;
	margin-top: 70px;
}
.store-buttons h2 {
	padding: 9px;
}
.about-base h2 {
	font-size: 5rem;
	text-align: center;
	margin: 40px auto;
}
.about-base p {
	font-size: 1.7rem;
	text-align: justify;
	margin: 10px 300px;
}
.product-content {
	display: flex;
	padding: 100px auto;
}
.home-base-categories {
	display: flex;
	flex-direction: column;
	background-color: aqua;
}
.home-categories button {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	padding: 10px 10px;
	background-color: red;
}
@media screen and (max-width: 1280px) {
	.sort-buttons {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		height: 20%;
	}
	.sort-buttons button {
		width: 90%;
		margin: 0 auto;
		position: relative;
	}
	.sort-buttons select {
		text-align: center;
		width: 90%;
	}
}
@media screen and (max-width: 974px) {
	.filter-button {
		display: block;
		left: 2%;
	}
	.store-base {
		width: 100%;
		height: 27vh;
	}
	.store-base {
		position: absolute;
		width: 70%;
		left: -100%;
		transition: all 0.4s;
		z-index: 1;
	}
	.show-sidebar {
		left: 0;
	}
	.search-box {
		margin: 10px auto 0 auto;
	}
	.sort-buttons {
		height: 85%;
		padding: 12px 0;
		margin: 0;
		position: relative;
	}
	.sort-buttons select {
		margin: 7px auto;
	}
	.sort-buttons button {
		margin: 0;
	}
	.store-content-base {
		margin: 0;
		width: 100%;
		height: 100%;
		z-index: -1;
	}
	.filter-buttons button:not(:last-child):hover {
		color: var(--color-primary-3);
		background-color: var(--color-primary-2);
		border-right: 1px solid var(--color-primary-5);
		transition: all 0.4s;
		overflow: hidden;
		padding-left: 30px;
		right: 0;
	}
	.filter-buttons button:last-child {
		display: block;
		color: var(--color-primary-3);
		background: var(--color-primary-5);
		display: flex;
		justify-content: center;
	}
}
